<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util-4.1.xsd">

    <bean id="abstractQueryHandler" abstract="true" class="com.handlers.AbstractQueryHandler">
        <property name="apiParameters" ref="apiParameters"/>
        <property name="apiCallService" ref="apiCallService"/>
    </bean>

    <bean id="inputQueryMovieHandler" parent="abstractQueryHandler" class="com.handlers.InputQueryMovieHandlerImpl">
        <property name="helperApiHandler" ref="helperApiHandler" />
    </bean>

    <bean id="inputQueryMusicHandler" parent="abstractQueryHandler" class="com.handlers.InputQueryMusicHandlerImpl"/>

    <bean id="inputQueryHandlerValidator" class="com.validators.LoadInputQueryValidatorImpl"/>

    <bean id="helperApiHandler" class="com.handlers.HelperApiHandler">
        <property name="apiCallService" ref="apiCallService"/>
    </bean>

    <bean id="apiCallService" class="com.services.ApiCallServiceImpl"/>

    <util:map id="apiParameters" map-class="java.util.HashMap" key-type="java.lang.String" value-type="java.util.LinkedHashMap">
        <entry key="themoviedbapi" value-ref="themoviedbapiParameters"/>
        <entry key="itunes" value-ref="itunesParameters" />
    </util:map>

    <util:map id="itunesParameters" map-class="java.util.LinkedHashMap" key-type="java.lang.String" value-type="java.lang.String">
        <entry key="term"    value="placeHolder"/>
        <entry key="attribute"   value="albumTerm"/>
        <entry key="entity"   value="song"/>
    </util:map>

    <util:map id="themoviedbapiParameters" map-class="java.util.LinkedHashMap" key-type="java.lang.String" value-type="java.lang.String">
        <entry key="api_key" value="08ec52a84fdc9c6236295533b241335b"/>
        <entry key="query"   value="placeHolder"/>
    </util:map>

    <bean id="inputQueryHandlerFactory" class="com.handlers.InputQueryHandlerFactory">
        <property name="inputQueryMovieHandler" ref="inputQueryMovieHandler"/>
        <property name="inputQueryMusicHandler" ref="inputQueryMusicHandler"/>
    </bean>



</beans>